nav {
    background: rgba(0, 0, 0, 0.3);
    height: 100px;
    // 使導覽列永遠在上方
    position: fixed;
    width: 100px;

    a {
        padding: 30px;
        text-decoration: none;
        display: inline-block;
        color: #fff;
        font-size: 30px;
    }
}

section {
    height: 100vh;
    text-align: center;
    line-height: 100vh;
    font-size: 80px;
    color: #fff;

    &:nth-of-type(odd) {
        background: lightblue;
    }

    &:nth-of-type(even) {
        background: pink;
    }
}
